* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

/* audio players */
audio {
  position: absolute;
  bottom: 20px;
}
#base-audio {
  left: 20px;
}
#audio {
  left: 340px;
}

/* Imaginary borders */
.top-boxes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

.bottom-boxes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-boxes > h3,
.bottom-boxes > h3 {
  font-size: 50px;
  color: whitesmoke;
}
